
.baseline{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
    width: min(1200px,100%);
    height:min(618px,100%);
    
}

.imageBlock{
    display: flex;
    flex-direction: column;

    size: min(10%, 30vw);
}

.imageBlock >img{
    width:max(30vw, 400px);
}

.titleBlock{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    width:max(30vw, 400px);
    margin-top: 140px;
    text-align: center;
}

.formBlockWhole{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.formLine{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.formPair{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.formBlock{
    padding:8%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0px 5px 2px gray;

}

.formBlockWhole > div{

    margin: 2%;
    margin-left: 0;
    margin-right: 0;
}

.signUp{
    width: min(100%,200px);
    height: 40px;
    color: white;
    background-color: #596D48;
    justify-self: left;
    margin: 25px;
    margin-left: 16px;
    border-radius: 10px;
    font-weight: bold;

}

.introText{
    padding: 16px;
    box-shadow: 0px 1px rgb(211, 211, 211);
}

.login{
    padding-left: 16px;
}

label{
    color:rgb(100, 100, 100);
    font-weight: bold;
}

input{
    border: 2px solid #000;
    border-radius: 5px;
}

input:focus{
    border-color:blue;
}

input:user-invalid{
    border-color:red;
}